
{{> popup/popup}}
{{> scripts/scripts}}

<footer class="footer">
    <div class="wrapper footer-top">
        <img class="footer-top-item" src="/static/img/content/logo.svg" alt="">
        <a href="#" class="footer-top-item">Доставка и оплата</a>
        <a href="#" class="footer-top-item">Доставка в регионы</a>
        <a href="#" class="footer-top-item">Розничный магазин</a>
        <div class="footer-top-item">
            <div class="footer-top-item-phone">
                +7 (495) 510-07-16       8 (800) 777-21-43
            </div>
            <div class="footer-top-item-work">
                Работаем с 10 до 20 без выходных
            </div>
        </div>
        <a href="#" class="footer-top-item btn-1">Обратный звонок</a>
    </div>
    <div class="wrapper footer-bottom">
        <div class="footer-bottom-left">
            <div class="footer-bottom-left-first">
                <div class="footer-bottom-left-first-item"><a href="#">скидки</a></div>
                <div class="footer-bottom-left-first-item"><a href="#">отзывы</a></div>
            </div>
            <div class="footer-bottom-left-second">
                <div class="footer-bottom-left-second-item"><a href="#">о нас</a></div>
                <div class="footer-bottom-left-second-item"><a href="#">контакты</a></div>
            </div>
        </div>
        <div class="footer-bottom-center">
            <div class="footer-bottom-center-first">
                <div class="footer-bottom-center-first-item"><a href="">Статьи</a></div>
                <div class="footer-bottom-center-first-item"><a href="">Полезные советы</a></div>
                <div class="footer-bottom-center-first-item"><a href="">Техника безопасности</a></div>
            </div>
            <div class="footer-bottom-center-second">
                <div class="footer-bottom-center-second-item"><a href="">Площадки для запуска фейерверков</a></div>
                <div class="footer-bottom-center-second-item"><a href="">Производители пиротехники</a></div>
                <div class="footer-bottom-center-second-item"><a href="">Политика конфеденциальности</a></div>
            </div>
        </div>
        <div class="footer-bottom-right">
            <div class="footer-bottom-right-item">
                Способы<br>
                оплаты:</div>
            <div class="footer-bottom-right-item">
                <img src="/static/img/content/footer1.png" alt="">
            </div>
            <div class="footer-bottom-right-item">
                <img src="/static/img/content/footer2.png" alt="">
            </div>
            <div class="footer-bottom-right-item">
                <img src="/static/img/content/footer3.png" alt="">
            </div>
        </div>
    </div>
    <div class="footer-down">
        <div class="wrapper footer-down-text">(с) Магазин фейерверков</div>
    </div>
</footer>