<header class="header">
    <div class="wrapper header-top">
        <img class="header-top-item" src="/static/img/content/logo.svg" alt="">
        <a href="#" class="header-top-item">Доставка и оплата</a>
        <a href="#" class="header-top-item">Доставка в регионы</a>
        <a href="#" class="header-top-item">Розничный магазин</a>
        <div class="header-top-item">
            <div class="header-top-item-phone">
                +7 (495) 510-07-16       8 (800) 777-21-43
            </div>
            <div class="header-top-item-work">
                Работаем с 10 до 20 без выходных
            </div>
        </div>
        <a href="#" class="header-top-item btn-1">Обратный звонок</a>
    </div>
    <div class="header-bottom">
        <div class="header-bottom-wrap wrapper">
            <div class="header-bottom-item">
                {{Icon iconName="catalog"}}
                <div class="header-bottom-item-catalog">Kаталог товаров</div>
            </div>
            <a href="#" class="header-bottom-item">скидки</a>
            <a href="#" class="header-bottom-item">о нас</a>
            <a href="#" class="header-bottom-item">контакты</a>
            <a href="#" class="header-bottom-item">Отзывы</a>
            <a href="#" class="header-bottom-item">FAQ</a>
            <form class="header-bottom-item">
                {{Icon iconName="search"}}
                <input type="text" class="header-bottom-item-search" placeholder="Поиск">
            </form>
            <a href="#" class="header-bottom-item">
                {{Icon iconName="favorite"}}
                <div class="header-bottom-item-favorite">Избранное</div>
            </a>
            <div class="header-bottom-item">
                {{Icon iconName="cart"}}
             <div class="header-bottom-item-cart">Корзина<br> 1 шт.</div>
            </div>
            <a href="#" class="header-bottom-item">
                {{Icon iconName="login"}}
                <div class="header-bottom-item-login">Войти</div>
            </a>
        </div>
    </div>
</header>