<main>
    <div class="wrapper first">
        <div class="catalog">
            <a href="#" class="catalog-item class1">Батареи салютов</a>
            <a href="#" class="catalog-item class1">Одиночные салюты, ракеты</a>
            <a href="#" class="catalog-item class1">Пиротехнические фонтаны</a>
            <a href="#" class="catalog-item class2">Римские свечи</a>
            <a href="#" class="catalog-item class1">Петарды, наземные салюты<br> 
                и фейерверки</a>
            <a href="#" class="catalog-item class3">Дневные салюты</a>
            <a href="#" class="catalog-item class1">Бенгальские свечи</a>
            <a href="#" class="catalog-item class1">Хлопушки</a>
            <a href="#" class="catalog-item class1">Спасательные, учебно-<br>
                -имитационные средства</a>
            <a href="#" class="catalog-item class2">Готовые наборы</a>
        </div>
        <div class="slider1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide-title">Фейерверки - услуги интернет-магазина</div>
                    <div class="slide-text">Наши специалисты учитывают все пожелания заказчика, финансовые возможности и другие нюансы мероприятия, что гарантирует </div>
                    <div class="slide-btn"><a class="btn-2">ПЕРЕЙТИ В КАТАЛОГ</a></div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-title">Фейерверки - услуги интернет-магазина</div>
                    <div class="slide-text">Наши специалисты учитывают все пожелания заказчика, финансовые возможности и другие нюансы мероприятия, что гарантирует </div>
                    <div class="slide-btn"><a class="btn-2">ПЕРЕЙТИ В КАТАЛОГ</a></div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-title">Фейерверки - услуги интернет-магазина</div>
                    <div class="slide-text">Наши специалисты учитывают все пожелания заказчика, финансовые возможности и другие нюансы мероприятия, что гарантирует </div>
                    <div class="slide-btn"><a class="btn-2">ПЕРЕЙТИ В КАТАЛОГ</a></div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next">
                {{Icon iconName="next"}}
            </div>
            <div class="swiper-button-prev">
                {{Icon iconName="prev"}}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="about">
            <div class="about-item">
                <img src="/static/img/content/headphones.png" alt="">
                Персональные конcультации
            </div>
            <div class="about-item">
                <img src="/static/img/content/fire.png" alt="">
                Весь товар, видимый на сайте, всегда в наличии
            </div>
            <div class="about-item">
                <img src="/static/img/content/medal.png" alt="">
                Только оригинальная продукция (все сертифицировано)
            </div>
            <div class="about-item">
                <img src="/static/img/content/dost.png" alt="">
                Бесплатная доставка
            </div>
        </div>
    </div>
    <div class="wrapper vig">
        <div class="vig-title">
            <h1>Выгодные предложения</h1>
        </div>
        <div class="vig-items">
            <div class="vig-items-item">
                <div class="vig-items-item-first">
                    <div class="vig-items-item-first-img">
                        <img src="/static/img/content/item.png" alt="">
                        <div class="vig-items-item-first-img-play">
                            <img src="/static/img/content/play.png" alt="">
                        </div>
                    </div>
                    <div class="vig-items-item-first-rate">4.2</div>
                    <div class="vig-items-item-first-name">Пневмохлопушка праздничная бум.30 см                    </div>
                    <div class="vig-items-item-first-text">Пневмохлопушка праздничная бум.
                        описание товара в две строки с многот...
                        </div>
                    <div class="vig-items-item-first-about">
                        <div class="vig-items-item-first-about-left">
                            <div class="vig-items-item-first-about-left-height">высота, м</div>
                            <div class="vig-items-item-first-about-left-count">зарядов, шт</div>
                        </div>
                        <div class="vig-items-item-first-about-right">
                            <div class="vig-items-item-first-about-right-time">время, с</div>
                            <div class="vig-items-item-first-about-right-size">калибр, мм</div>
                        </div>
                    </div>
                </div>
                <div class="vig-items-item-second">
                    <div class="vig-items-item-second-price">
                        <div class="vig-items-item-second-price-oldprice">399 руб.</div>
                        <div class="vig-items-item-second-price-newprice">172 руб.</div>
                    </div>
                    <div class="vig-items-item-second-col">
                        <button type="button" class="number-input-button number-decrement">
                            -
                        </button>
                        <div class="number-result">0 шт.</div>
                        <input type="number" class="number-input" step="1" value="0" min="0" max="10">
                        <button type="button" class="number-input-button number-increment">
                            +
                        </button>
                    </div>
                    <button class="vig-items-item-second-add">
                        {{Icon iconName="supermarket"}}
                        добавить в корзину
                    </button>
                    <button class="vig-items-item-second-fav">
                        {{Icon iconName="add_fav"}}
                    </button>
                </div>
            </div>
            <div class="vig-items-item">
                <div class="vig-items-item-first">
                    <div class="vig-items-item-first-img">
                        <img src="/static/img/content/item.png" alt="">
                        <div class="vig-items-item-first-img-play">
                            <img src="/static/img/content/play.png" alt="">
                        </div>
                    </div>
                    <div class="vig-items-item-first-rate">4.2</div>
                    <div class="vig-items-item-first-name">Пневмохлопушка праздничная бум.30 см                    </div>
                    <div class="vig-items-item-first-text">Пневмохлопушка праздничная бум.
                        описание товара в две строки с многот...
                        </div>
                    <div class="vig-items-item-first-about">
                        <div class="vig-items-item-first-about-left">
                            <div class="vig-items-item-first-about-left-height">высота, м</div>
                            <div class="vig-items-item-first-about-left-count">зарядов, шт</div>
                        </div>
                        <div class="vig-items-item-first-about-right">
                            <div class="vig-items-item-first-about-right-time">время, с</div>
                            <div class="vig-items-item-first-about-right-size">калибр, мм</div>
                        </div>
                    </div>
                </div>
                <div class="vig-items-item-second">
                    <div class="vig-items-item-second-price">
                        <div class="vig-items-item-second-price-oldprice">399 руб.</div>
                        <div class="vig-items-item-second-price-newprice">172 руб.</div>
                    </div>
                    <div class="vig-items-item-second-col">
                        <button type="button" class="number-input-button number-decrement">
                            -
                        </button>
                        <div class="number-result">0 шт.</div>
                        <input type="number" class="number-input" step="1" value="0" min="0" max="10">
                        <button type="button" class="number-input-button number-increment">
                            +
                        </button>
                    </div>
                    <button class="vig-items-item-second-add">
                        {{Icon iconName="supermarket"}}
                        добавить в корзину
                    </button>
                    <button class="vig-items-item-second-fav">
                        {{Icon iconName="add_fav"}}
                    </button>
                </div>
            </div>
            <div class="vig-items-item">
                <div class="vig-items-item-first">
                    <div class="vig-items-item-first-img">
                        <img src="/static/img/content/item.png" alt="">
                        <div class="vig-items-item-first-img-play">
                            <img src="/static/img/content/play.png" alt="">
                        </div>
                    </div>
                    <div class="vig-items-item-first-rate">4.2</div>
                    <div class="vig-items-item-first-name">Пневмохлопушка праздничная бум.30 см                    </div>
                    <div class="vig-items-item-first-text">Пневмохлопушка праздничная бум.
                        описание товара в две строки с многот...
                        </div>
                    <div class="vig-items-item-first-about">
                        <div class="vig-items-item-first-about-left">
                            <div class="vig-items-item-first-about-left-height">высота, м</div>
                            <div class="vig-items-item-first-about-left-count">зарядов, шт</div>
                        </div>
                        <div class="vig-items-item-first-about-right">
                            <div class="vig-items-item-first-about-right-time">время, с</div>
                            <div class="vig-items-item-first-about-right-size">калибр, мм</div>
                        </div>
                    </div>
                </div>
                <div class="vig-items-item-second">
                    <div class="vig-items-item-second-price">
                        <div class="vig-items-item-second-price-oldprice">399 руб.</div>
                        <div class="vig-items-item-second-price-newprice">172 руб.</div>
                    </div>
                    <div class="vig-items-item-second-col">
                        <button type="button" class="number-input-button number-decrement">
                            -
                        </button>
                        <div class="number-result">0 шт.</div>
                        <input type="number" class="number-input" step="1" value="0" min="0" max="10">
                        <button type="button" class="number-input-button number-increment">
                            +
                        </button>
                    </div>
                    <button class="vig-items-item-second-add">
                        {{Icon iconName="supermarket"}}
                        добавить в корзину
                    </button>
                    <button class="vig-items-item-second-fav">
                        {{Icon iconName="add_fav"}}
                    </button>
                </div>
            </div>
            <div class="vig-items-item">
                <div class="vig-items-item-first">
                    <div class="vig-items-item-first-img">
                        <img src="/static/img/content/item.png" alt="">
                        <div class="vig-items-item-first-img-play">
                            <img src="/static/img/content/play.png" alt="">
                        </div>
                    </div>
                    <div class="vig-items-item-first-rate">4.2</div>
                    <div class="vig-items-item-first-name">Пневмохлопушка праздничная бум.30 см                    </div>
                    <div class="vig-items-item-first-text">Пневмохлопушка праздничная бум.
                        описание товара в две строки с многот...
                        </div>
                    <div class="vig-items-item-first-about">
                        <div class="vig-items-item-first-about-left">
                            <div class="vig-items-item-first-about-left-height">высота, м</div>
                            <div class="vig-items-item-first-about-left-count">зарядов, шт</div>
                        </div>
                        <div class="vig-items-item-first-about-right">
                            <div class="vig-items-item-first-about-right-time">время, с</div>
                            <div class="vig-items-item-first-about-right-size">калибр, мм</div>
                        </div>
                    </div>
                </div>
                <div class="vig-items-item-second">
                    <div class="vig-items-item-second-price">
                        <div class="vig-items-item-second-price-oldprice">399 руб.</div>
                        <div class="vig-items-item-second-price-newprice">172 руб.</div>
                    </div>
                    <div class="vig-items-item-second-col">
                        <button type="button" class="number-input-button number-decrement">
                            -
                        </button>
                        <div class="number-result">0 шт.</div>
                        <input type="number" class="number-input" step="1" value="0" min="0" max="10">
                        <button type="button" class="number-input-button number-increment">
                            +
                        </button>
                    </div>
                    <button class="vig-items-item-second-add">
                        {{Icon iconName="supermarket"}}
                        добавить в корзину
                    </button>
                    <button class="vig-items-item-second-fav">
                        {{Icon iconName="add_fav"}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="wanna">
        <div class="wrapper wanna-container">
            <div class="wanna-container-left">
                <div class="wanna-container-left-title">Хотите фейерверк шоу?</div>
                <div class="wanna-container-left-text">Наши специалисты учитывают все пожелания заказчика, финансовые возможности и другие нюансы мероприятия, что гарантирует </div>
                <div class="wanna-container-left-btn">
                    <a href="#" class="btn-3">ПЕРЕЙТИ В КАТАЛОГ</a>
                </div>
            </div>
            <div class="wanna-container-family">
                <img src="/static/img/content/family.png" alt="">
            </div>
        </div>
    </div>
    <div class="for">
        <div class="wrapper for-container">
            <div class="for-container-head">
                <h1>Подбери фейерверк к мероприятию</h1>
                <div class="for-container-head-more">
                    <a href="#">показать все</a>
                </div>
            </div>
            <div class="for-container-items">
                <div class="for-container-items-left">
                    <div class="for-container-items-left-item">
                        <div class="for-container-items-left-item-number">1</div>
                        <div class="for-container-items-left-item-title">День рождения</div>
                        <div class="for-container-items-left-item-more">
                            <a href="#">подобрать</a>
                        </div>
                    </div>
                    <div class="for-container-items-left-item">
                        <div class="for-container-items-left-item-number">2</div>
                        <div class="for-container-items-left-item-title">Свадьба</div>
                        <div class="for-container-items-left-item-more">
                            <a href="#">подобрать</a>
                        </div>
                    </div>
                    <div class="for-container-items-left-item">
                        <div class="for-container-items-left-item-number">4</div>
                        <div class="for-container-items-left-item-title">Корпоратив</div>
                        <div class="for-container-items-left-item-more">
                            <a href="#">подобрать</a>
                        </div>
                    </div>
                    <div class="for-container-items-left-item">
                        <div class="for-container-items-left-item-number">5</div>
                        <div class="for-container-items-left-item-title">Новый год</div>
                        <div class="for-container-items-left-item-more">
                            <a href="#">подобрать</a>
                        </div>
                    </div>
                </div>
                <div class="for-container-items-right">
                    <div class="for-container-items-right-number">3</div>
                    <div class="for-container-items-right-title">Детский праздник</div>
                    <div class="for-container-items-right-more">
                        <a href="#">подобрать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper top">
        <div class="top-head">
            <h1>Хиты продаж</h1>
            <div class="top-head-more">
                <a href="#">показать все</a>
            </div>
        </div>
        <div class="top-items">
            <div class="top-items-item">
                <div class="top-items-item-first">
                    <div class="top-items-item-first-img">
                        <img src="/static/img/content/item.png" alt="">
                        <div class="top-items-item-first-img-play">
                            <img src="/static/img/content/play.png" alt="">
                        </div>
                    </div>
                    <div class="top-items-item-first-rate">4.2</div>
                    <div class="top-items-item-first-name">Пневмохлопушка праздничная бум.30 см                    </div>
                    <div class="top-items-item-first-text">Пневмохлопушка праздничная бум.
                        описание товара в две строки с многот...
                        </div>
                    <div class="top-items-item-first-about">
                        <div class="top-items-item-first-about-left">
                            <div class="top-items-item-first-about-left-height">высота, м</div>
                            <div class="top-items-item-first-about-left-count">зарядов, шт</div>
                        </div>
                        <div class="top-items-item-first-about-right">
                            <div class="top-items-item-first-about-right-time">время, с</div>
                            <div class="top-items-item-first-about-right-size">калибр, мм</div>
                        </div>
                    </div>
                </div>
                <div class="top-items-item-second">
                    <div class="top-items-item-second-price">
                        <div class="top-items-item-second-price-oldprice">399 руб.</div>
                        <div class="top-items-item-second-price-newprice">172 руб.</div>
                    </div>
                    <div class="top-items-item-second-col">
                        <button type="button" class="number-input-button number-decrement">
                            -
                        </button>
                        <div class="number-result">0 шт.</div>
                        <input type="number" class="number-input" step="1" value="0" min="0" max="10">
                        <button type="button" class="number-input-button number-increment">
                            +
                        </button>
                    </div>
                    <button class="top-items-item-second-add">
                        {{Icon iconName="supermarket"}}
                        добавить в корзину
                    </button>
                    <button class="top-items-item-second-fav">
                        {{Icon iconName="add_fav"}}
                    </button>
                </div>
            </div>
            <div class="top-items-item">
                <div class="top-items-item-first">
                    <div class="top-items-item-first-img">
                        <img src="/static/img/content/item.png" alt="">
                        <div class="top-items-item-first-img-play">
                            <img src="/static/img/content/play.png" alt="">
                        </div>
                    </div>
                    <div class="top-items-item-first-rate">4.2</div>
                    <div class="top-items-item-first-name">Пневмохлопушка праздничная бум.30 см                    </div>
                    <div class="top-items-item-first-text">Пневмохлопушка праздничная бум.
                        описание товара в две строки с многот...
                        </div>
                    <div class="top-items-item-first-about">
                        <div class="top-items-item-first-about-left">
                            <div class="top-items-item-first-about-left-height">высота, м</div>
                            <div class="top-items-item-first-about-left-count">зарядов, шт</div>
                        </div>
                        <div class="top-items-item-first-about-right">
                            <div class="top-items-item-first-about-right-time">время, с</div>
                            <div class="top-items-item-first-about-right-size">калибр, мм</div>
                        </div>
                    </div>
                </div>
                <div class="top-items-item-second">
                    <div class="top-items-item-second-price">
                        <div class="top-items-item-second-price-oldprice">399 руб.</div>
                        <div class="top-items-item-second-price-newprice">172 руб.</div>
                    </div>
                    <div class="top-items-item-second-col">
                        <button type="button" class="number-input-button number-decrement">
                            -
                        </button>
                        <div class="number-result">0 шт.</div>
                        <input type="number" class="number-input" step="1" value="0" min="0" max="10">
                        <button type="button" class="number-input-button number-increment">
                            +
                        </button>
                    </div>
                    <button class="top-items-item-second-add">
                        {{Icon iconName="supermarket"}}
                        добавить в корзину
                    </button>
                    <button class="top-items-item-second-fav">
                        {{Icon iconName="add_fav"}}
                    </button>
                </div>
            </div>
            <div class="top-items-item">
                <div class="top-items-item-first">
                    <div class="top-items-item-first-img">
                        <img src="/static/img/content/item.png" alt="">
                        <div class="top-items-item-first-img-play">
                            <img src="/static/img/content/play.png" alt="">
                        </div>
                    </div>
                    <div class="top-items-item-first-rate">4.2</div>
                    <div class="top-items-item-first-name">Пневмохлопушка праздничная бум.30 см                    </div>
                    <div class="top-items-item-first-text">Пневмохлопушка праздничная бум.
                        описание товара в две строки с многот...
                        </div>
                    <div class="top-items-item-first-about">
                        <div class="top-items-item-first-about-left">
                            <div class="top-items-item-first-about-left-height">высота, м</div>
                            <div class="top-items-item-first-about-left-count">зарядов, шт</div>
                        </div>
                        <div class="top-items-item-first-about-right">
                            <div class="top-items-item-first-about-right-time">время, с</div>
                            <div class="top-items-item-first-about-right-size">калибр, мм</div>
                        </div>
                    </div>
                </div>
                <div class="top-items-item-second">
                    <div class="top-items-item-second-price">
                        <div class="top-items-item-second-price-oldprice">399 руб.</div>
                        <div class="top-items-item-second-price-newprice">172 руб.</div>
                    </div>
                    <div class="top-items-item-second-col">
                        <button type="button" class="number-input-button number-decrement">
                            -
                        </button>
                        <div class="number-result">0 шт.</div>
                        <input type="number" class="number-input" step="1" value="0" min="0" max="10">
                        <button type="button" class="number-input-button number-increment">
                            +
                        </button>
                    </div>
                    <button class="top-items-item-second-add">
                        {{Icon iconName="supermarket"}}
                        добавить в корзину
                    </button>
                    <button class="top-items-item-second-fav">
                        {{Icon iconName="add_fav"}}
                    </button>
                </div>
            </div>
            <div class="top-items-item">
                <div class="top-items-item-first">
                    <div class="top-items-item-first-img">
                        <img src="/static/img/content/item.png" alt="">
                        <div class="top-items-item-first-img-play">
                            <img src="/static/img/content/play.png" alt="">
                        </div>
                    </div>
                    <div class="top-items-item-first-rate">4.2</div>
                    <div class="top-items-item-first-name">Пневмохлопушка праздничная бум.30 см                    </div>
                    <div class="top-items-item-first-text">Пневмохлопушка праздничная бум.
                        описание товара в две строки с многот...
                        </div>
                    <div class="top-items-item-first-about">
                        <div class="top-items-item-first-about-left">
                            <div class="top-items-item-first-about-left-height">высота, м</div>
                            <div class="top-items-item-first-about-left-count">зарядов, шт</div>
                        </div>
                        <div class="top-items-item-first-about-right">
                            <div class="top-items-item-first-about-right-time">время, с</div>
                            <div class="top-items-item-first-about-right-size">калибр, мм</div>
                        </div>
                    </div>
                </div>
                <div class="top-items-item-second">
                    <div class="top-items-item-second-price">
                        <div class="top-items-item-second-price-oldprice">399 руб.</div>
                        <div class="top-items-item-second-price-newprice">172 руб.</div>
                    </div>
                    <div class="top-items-item-second-col">
                        <button type="button" class="number-input-button number-decrement">
                            -
                        </button>
                        <div class="number-result">0 шт.</div>
                        <input type="number" class="number-input" step="1" value="0" min="0" max="10">
                        <button type="button" class="number-input-button number-increment">
                            +
                        </button>
                    </div>
                    <button class="top-items-item-second-add">
                        {{Icon iconName="supermarket"}}
                        добавить в корзину
                    </button>
                    <button class="top-items-item-second-fav">
                        {{Icon iconName="add_fav"}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="delivery">
        <div class="wrapper delivery-container">
            <div class="delivery-container-left">
                <h1>Доставка в регион</h1>
                <div class="delivery-container-left-text">Тут будет адрес «Мы постарались рассказать вам как можно больше о
                    наших домах. <br>
                    <br>
                    Если у вас остались вопросы – готовы ответить прямо сейчас. Оставьте ваш номер для связи. Тут будет адрес «Мы постарались рассказать вам как можно больше о
                    наших домах.
                    </div>
                <ul class="delivery-container-left-list">
                    <li class="delivery-container-left-list-item">Тут будет адрес «Мы постарались рассказать вам как можно больше о
                        наших домах.</li>
                    <li class="delivery-container-left-list-item">Тут будет адрес «Мы постарались рассказать вам как можно больше о
                        наших домах.</li>
                    <li class="delivery-container-left-list-item">Тут будет адрес «Мы постарались рассказать вам как можно больше о
                        наших домах.</li>
                </ul>
            </div>
            <div class="delivery-container-right">
                <img src="/static/img/content/delivery.png" alt="">
            </div>
        </div>
    </div>
    <div class="wrapper new">
        <div class="new-head">
            <h1>Новинки</h1>
            <div class="new-head-more">
                <a href="#">показать все</a>
            </div>
        </div>
        <div class="new-items">
            <div class="new-items-item">
                <div class="new-items-item-first">
                    <div class="new-items-item-first-img">
                        <img src="/static/img/content/item.png" alt="">
                        <div class="new-items-item-first-img-play">
                            <img src="/static/img/content/play.png" alt="">
                        </div>
                    </div>
                    <div class="new-items-item-first-rate">4.2</div>
                    <div class="new-items-item-first-name">Пневмохлопушка праздничная бум.30 см                    </div>
                    <div class="new-items-item-first-text">Пневмохлопушка праздничная бум.
                        описание товара в две строки с многот...
                        </div>
                    <div class="new-items-item-first-about">
                        <div class="new-items-item-first-about-left">
                            <div class="new-items-item-first-about-left-height">высота, м</div>
                            <div class="new-items-item-first-about-left-count">зарядов, шт</div>
                        </div>
                        <div class="new-items-item-first-about-right">
                            <div class="new-items-item-first-about-right-time">время, с</div>
                            <div class="new-items-item-first-about-right-size">калибр, мм</div>
                        </div>
                    </div>
                </div>
                <div class="new-items-item-second">
                    <div class="new-items-item-second-price">
                        <div class="new-items-item-second-price-oldprice">399 руб.</div>
                        <div class="new-items-item-second-price-newprice">172 руб.</div>
                    </div>
                    <div class="new-items-item-second-col">
                        <button type="button" class="number-input-button number-decrement">
                            -
                        </button>
                        <div class="number-result">0 шт.</div>
                        <input type="number" class="number-input" step="1" value="0" min="0" max="10">
                        <button type="button" class="number-input-button number-increment">
                            +
                        </button>
                    </div>
                    <button class="new-items-item-second-add">
                        {{Icon iconName="supermarket"}}
                        добавить в корзину
                    </button>
                    <button class="new-items-item-second-fav">
                        {{Icon iconName="add_fav"}}
                    </button>
                </div>
            </div>
            <div class="new-items-item">
                <div class="new-items-item-first">
                    <div class="new-items-item-first-img">
                        <img src="/static/img/content/item.png" alt="">
                        <div class="new-items-item-first-img-play">
                            <img src="/static/img/content/play.png" alt="">
                        </div>
                    </div>
                    <div class="new-items-item-first-rate">4.2</div>
                    <div class="new-items-item-first-name">Пневмохлопушка праздничная бум.30 см                    </div>
                    <div class="new-items-item-first-text">Пневмохлопушка праздничная бум.
                        описание товара в две строки с многот...
                        </div>
                    <div class="new-items-item-first-about">
                        <div class="new-items-item-first-about-left">
                            <div class="new-items-item-first-about-left-height">высота, м</div>
                            <div class="new-items-item-first-about-left-count">зарядов, шт</div>
                        </div>
                        <div class="new-items-item-first-about-right">
                            <div class="new-items-item-first-about-right-time">время, с</div>
                            <div class="new-items-item-first-about-right-size">калибр, мм</div>
                        </div>
                    </div>
                </div>
                <div class="new-items-item-second">
                    <div class="new-items-item-second-price">
                        <div class="new-items-item-second-price-oldprice">399 руб.</div>
                        <div class="new-items-item-second-price-newprice">172 руб.</div>
                    </div>
                    <div class="new-items-item-second-col">
                        <button type="button" class="number-input-button number-decrement">
                            -
                        </button>
                        <div class="number-result">0 шт.</div>
                        <input type="number" class="number-input" step="1" value="0" min="0" max="10">
                        <button type="button" class="number-input-button number-increment">
                            +
                        </button>
                    </div>
                    <button class="new-items-item-second-add">
                        {{Icon iconName="supermarket"}}
                        добавить в корзину
                    </button>
                    <button class="new-items-item-second-fav">
                        {{Icon iconName="add_fav"}}
                    </button>
                </div>
            </div>
            <div class="new-items-item">
                <div class="new-items-item-first">
                    <div class="new-items-item-first-img">
                        <img src="/static/img/content/item.png" alt="">
                        <div class="new-items-item-first-img-play">
                            <img src="/static/img/content/play.png" alt="">
                        </div>
                    </div>
                    <div class="new-items-item-first-rate">4.2</div>
                    <div class="new-items-item-first-name">Пневмохлопушка праздничная бум.30 см                    </div>
                    <div class="new-items-item-first-text">Пневмохлопушка праздничная бум.
                        описание товара в две строки с многот...
                        </div>
                    <div class="new-items-item-first-about">
                        <div class="new-items-item-first-about-left">
                            <div class="new-items-item-first-about-left-height">высота, м</div>
                            <div class="new-items-item-first-about-left-count">зарядов, шт</div>
                        </div>
                        <div class="new-items-item-first-about-right">
                            <div class="new-items-item-first-about-right-time">время, с</div>
                            <div class="new-items-item-first-about-right-size">калибр, мм</div>
                        </div>
                    </div>
                </div>
                <div class="new-items-item-second">
                    <div class="new-items-item-second-price">
                        <div class="new-items-item-second-price-oldprice">399 руб.</div>
                        <div class="new-items-item-second-price-newprice">172 руб.</div>
                    </div>
                    <div class="new-items-item-second-col">
                        <button type="button" class="number-input-button number-decrement">
                            -
                        </button>
                        <div class="number-result">0 шт.</div>
                        <input type="number" class="number-input" step="1" value="0" min="0" max="10">
                        <button type="button" class="number-input-button number-increment">
                            +
                        </button>
                    </div>
                    <button class="new-items-item-second-add">
                        {{Icon iconName="supermarket"}}
                        добавить в корзину
                    </button>
                    <button class="new-items-item-second-fav">
                        {{Icon iconName="add_fav"}}
                    </button>
                </div>
            </div>
            <div class="new-items-item">
                <div class="new-items-item-first">
                    <div class="new-items-item-first-img">
                        <img src="/static/img/content/item.png" alt="">
                        <div class="new-items-item-first-img-play">
                            <img src="/static/img/content/play.png" alt="">
                        </div>
                    </div>
                    <div class="new-items-item-first-rate">4.2</div>
                    <div class="new-items-item-first-name">Пневмохлопушка праздничная бум.30 см                    </div>
                    <div class="new-items-item-first-text">Пневмохлопушка праздничная бум.
                        описание товара в две строки с многот...
                        </div>
                    <div class="new-items-item-first-about">
                        <div class="new-items-item-first-about-left">
                            <div class="new-items-item-first-about-left-height">высота, м</div>
                            <div class="new-items-item-first-about-left-count">зарядов, шт</div>
                        </div>
                        <div class="new-items-item-first-about-right">
                            <div class="new-items-item-first-about-right-time">время, с</div>
                            <div class="new-items-item-first-about-right-size">калибр, мм</div>
                        </div>
                    </div>
                </div>
                <div class="new-items-item-second">
                    <div class="new-items-item-second-price">
                        <div class="new-items-item-second-price-oldprice">399 руб.</div>
                        <div class="new-items-item-second-price-newprice">172 руб.</div>
                    </div>
                    <div class="new-items-item-second-col">
                        <button type="button" class="number-input-button number-decrement">
                            -
                        </button>
                        <div class="number-result">0 шт.</div>
                        <input type="number" class="number-input" step="1" value="0" min="0" max="10">
                        <button type="button" class="number-input-button number-increment">
                            +
                        </button>
                    </div>
                    <button class="new-items-item-second-add">
                        {{Icon iconName="supermarket"}}
                        добавить в корзину
                    </button>
                    <button class="new-items-item-second-fav">
                        {{Icon iconName="add_fav"}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="more">
        <div class="wrapper more-container">
            <div class="more-container-left">
                <div class="more-container-left-title">
                    Мало знакомы с фейерверками?
                    <span>- так мы всё знаем!</span></div>
                <div class="more-container-left-text">Наши специалисты учитывают все пожелания заказчика, финансовые возможности и другие нюансы мероприятия, что гарантирует </div>
                <div class="more-container-left-btn">
                    <a href="#" class="btn-2">ОСТАВИТЬ ЗАЯВКУ</a>
                </div>
            </div>
            <div class="more-container-right">
                <img src="/static/img/content/more.png" alt="">
            </div>
        </div>
    </div>
    <div class="wrapper2 map">
        <div class="ymap1" id="ya" data-zoom="3" data-x="55.770279" data-y="37.609071" data-array='["55.770279,37.609071"'></div>
        <div class="map-right">
            <h1>Площадки для запуска фейерверков</h1>
            <div class="map-right-text">
                Тут будет адрес «Мы постарались рассказать вам как можно больше о
                наших домах. <br>
                <br>
                Если у вас остались вопросы – готовы ответить
                прямо сейчас. Оставьте ваш номер для связи. Тут будет адрес «Мы постарались рассказать вам как можно больше о
                наших домах. <br>
                <br>
                В течение 15 минут вам прозвонит компетентный
                менеджер отдела продаж.

            </div>
            <div class="map-right-more">
                <a href="#">ПОСМОТРЕТЬ НА КАРТЕ</a>
            </div>
        </div>
    </div>
    <div class="reviews">
        <div class="wrapper3 reviews-container">
            <div class="reviews-container-head">
                <h1>Отзывы наших клиентов</h1>
            </div>
            <div class="slider3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-slide-mask"></div>
                        <div class="swiper-slide-head">
                            <div class="swiper-slide-head-name">Марина</div>
                            <div class="swiper-slide-head-date">14.05.20</div>
                        </div>
                        <div class="swiper-slide-text">
                            Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах. <br>
                            <br>
                            Если у вас остались вопросы – готовы ответитьпрямо сейчас. Оставьте ваш номер для связи. Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах. <br>
                            <br>
                            Если у вас остались вопросы – готовы ответитьпрямо сейчас. Оставьте ваш номер для связи. Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах
                        </div>
                        <div class="swiper-slide-img">
                            <img src="/static/img/content/slide2.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-mask"></div>
                        <div class="swiper-slide-head">
                            <div class="swiper-slide-head-name">Марина</div>
                            <div class="swiper-slide-head-date">14.05.20</div>
                        </div>
                        <div class="swiper-slide-text">
                            Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах. <br>
                            <br>
                            Если у вас остались вопросы – готовы ответитьпрямо сейчас. Оставьте ваш номер для связи. Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах. <br>
                            <br>
                            Если у вас остались вопросы – готовы ответитьпрямо сейчас. Оставьте ваш номер для связи. Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах
                        </div>
                        <div class="swiper-slide-img">
                            <img src="/static/img/content/slide2.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-mask"></div>
                        <div class="swiper-slide-head">
                            <div class="swiper-slide-head-name">Марина</div>
                            <div class="swiper-slide-head-date">14.05.20</div>
                        </div>
                        <div class="swiper-slide-text">
                            Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах. <br>
                            <br>
                            Если у вас остались вопросы – готовы ответитьпрямо сейчас. Оставьте ваш номер для связи. Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах. <br>
                            <br>
                            Если у вас остались вопросы – готовы ответитьпрямо сейчас. Оставьте ваш номер для связи. Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах
                        </div>
                        <div class="swiper-slide-img">
                            <img src="/static/img/content/slide2.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-mask"></div>
                        <div class="swiper-slide-head">
                            <div class="swiper-slide-head-name">Марина</div>
                            <div class="swiper-slide-head-date">14.05.20</div>
                        </div>
                        <div class="swiper-slide-text">
                            Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах. <br>
                            <br>
                            Если у вас остались вопросы – готовы ответитьпрямо сейчас. Оставьте ваш номер для связи. Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах. <br>
                            <br>
                            Если у вас остались вопросы – готовы ответитьпрямо сейчас. Оставьте ваш номер для связи. Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах
                        </div>
                        <div class="swiper-slide-img">
                            <img src="/static/img/content/slide2.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-mask"></div>
                        <div class="swiper-slide-head">
                            <div class="swiper-slide-head-name">Марина</div>
                            <div class="swiper-slide-head-date">14.05.20</div>
                        </div>
                        <div class="swiper-slide-text">
                            Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах. <br>
                            <br>
                            Если у вас остались вопросы – готовы ответитьпрямо сейчас. Оставьте ваш номер для связи. Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах. <br>
                            <br>
                            Если у вас остались вопросы – готовы ответитьпрямо сейчас. Оставьте ваш номер для связи. Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах
                        </div>
                        <div class="swiper-slide-img">
                            <img src="/static/img/content/slide2.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-mask"></div>
                        <div class="swiper-slide-head">
                            <div class="swiper-slide-head-name">Марина</div>
                            <div class="swiper-slide-head-date">14.05.20</div>
                        </div>
                        <div class="swiper-slide-text">
                            Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах. <br>
                            <br>
                            Если у вас остались вопросы – готовы ответитьпрямо сейчас. Оставьте ваш номер для связи. Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах. <br>
                            <br>
                            Если у вас остались вопросы – готовы ответитьпрямо сейчас. Оставьте ваш номер для связи. Тут будет адрес «Мы постарались рассказать вам как можно больше о
                            наших домах
                        </div>
                        <div class="swiper-slide-img">
                            <img src="/static/img/content/slide2.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next">
                    {{Icon iconName="next"}}
                </div>
                <div class="swiper-button-prev">
                    {{Icon iconName="prev"}}
                </div>
            </div>
        </div>
    </div>
    <div class="creators">
        <div class="creators-head">
            <h1>Производители пиротехники</h1>
        </div>
        <div class="slider4">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <div class="swiper-slide-img">
                      <img src="/static/img/content/creators1.png" alt="">
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="swiper-slide-img">
                      <img src="/static/img/content/creators2.png" alt="">
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="swiper-slide-img">
                      <img src="/static/img/content/creators3.png" alt="">
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="swiper-slide-img">
                      <img src="/static/img/content/creators4.png" alt="">
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="swiper-slide-img">
                      <img src="/static/img/content/creators1.png" alt="">
                  </div>
              </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next">
                {{Icon iconName="next"}}
            </div>
            <div class="swiper-button-prev">
                {{Icon iconName="prev"}}
            </div>
          </div>
    </div>
    <div class="advice">
        <div class="wrapper advice-container">
            <div class="advice-container-title">
                <h1>Полезные советы</h1>
            </div>
            <div class="advice-container-items">
                <div class="advice-container-items-item">
                    <div class="advice-container-items-item-img">
                        <img src="/static/img/content/advice1.png" alt="">
                    </div>
                    <div class="advice-container-items-item-title">Новость для всех</div>
                    <div class="advice-container-items-item-text">Тут будет адрес «Мы постарались вам как можно больше о
                        наших домах
                        </div>
                    <div class="advice-container-items-item-date">12.07.20</div>
                </div>
                <div class="advice-container-items-item">
                    <div class="advice-container-items-item-img">
                        <img src="/static/img/content/advice2.png" alt="">
                    </div>
                    <div class="advice-container-items-item-title">Новость для всех</div>
                    <div class="advice-container-items-item-text">Тут будет адрес «Мы постарались вам как можно больше о
                        наших домах
                        </div>
                    <div class="advice-container-items-item-date">12.07.20</div>
                </div>
                <div class="advice-container-items-item">
                    <div class="advice-container-items-item-img">
                        <img src="/static/img/content/advice1.png" alt="">
                    </div>
                    <div class="advice-container-items-item-title">Новость для всех</div>
                    <div class="advice-container-items-item-text">Тут будет адрес «Мы постарались вам как можно больше о
                        наших домах
                        </div>
                    <div class="advice-container-items-item-date">12.07.20</div>
                </div>
                <div class="advice-container-items-item">
                    <div class="advice-container-items-item-img">
                        <img src="/static/img/content/advice2.png" alt="">
                    </div>
                    <div class="advice-container-items-item-title">Новость для всех</div>
                    <div class="advice-container-items-item-text">Тут будет адрес «Мы постарались вам как можно больше о
                        наших домах
                        </div>
                    <div class="advice-container-items-item-date">12.07.20</div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper sell">
        <div class="sell-left">
            <div class="sell-left-title">
                <h1>Продажа пиротехники</h1>
            </div>
            <div class="sell-left-text">
                Чтобы облегчить выбор, мы предлагаем ознакомиться с видео о каждом товаре. Благодаря видеороликам Вы оцените красочность каждого салюта еще до его приобретения. Если у Вас останутся вопросы, обратитесь за консультацией к специалистам компании. Мы посоветуем лучшую пиротехнику по приемлемой цене, которая станет настоящим украшением Вашего праздника.<br>
                <br> 

                Услуги интернет-магазина Фейерверки.рф
                Продажа пиротехники — не единственное направление деятельности магазина. Помимо реализации, мы принимаем заказы на проведение шоу любой сложности. Наши специалисты учитывают все пожелания заказчика, финансовые возможности и другие нюансы мероприятия, что гарантирует высокую зрелищность салюта.


            </div>
        </div>
        <div class="sell-rigth">
            <img src="/static/img/content/sell.png" alt="">
        </div>
    </div>
    <div class="connection">
        <div class="wrapper connection-container">
            <div class="connection-container-left">
                <div class="connection-container-left-title">
                    Как с нами связаться?
                </div>
                <div class="connection-container-left-text">
                    По всем вопросам
                    обращайтесь по телефону:<br>
                    <br>
                    Тел.: +7 (495) 510-04-20<br>
                    <br>
                    E-mail: info@фейерверки.рф
                </div>
                <div class="connection-container-left-btn">
                    <a href="#" class="btn-3">ЗАДАТЬ ВОПРОС</a>
                </div>
            </div>
        </div>
        <div class="connection-right">
            <div class="ymap1" id="ya" data-zoom="3" data-x="55.770279" data-y="37.609071" data-array='["55.770279,37.609071"'></div>
        </div>
    </div>
</main>
<nav id="menu" class="">
    <div id="botaoMenu"></div>
      <ul>
        <li><a href="#">Kаталог товаров</a></li>
        <li><a href="#">скидки</a></li>
        <li><a href="#">о нас</a></li>
        <li><a href="#">контакты</a></li>
        <li><a href="#">Отзывы</a></li>
        <li><a href="#">FAQ</a></li>
        <form class="header-bottom-item">
            {{Icon iconName="search"}}
            <input type="text" class="header-bottom-item-search" placeholder="Поиск">
        </form>
        <a href="#" class="header-bottom-item">
            {{Icon iconName="favorite"}}
            <div class="header-bottom-item-favorite">Избранное</div>
        </a>
        <div class="header-bottom-item">
            {{Icon iconName="cart"}}
         <div class="header-bottom-item-cart">Корзина<br> 1 шт.</div>
        </div>
        <a href="#" class="header-bottom-item">
            {{Icon iconName="login"}}
            <div class="header-bottom-item-login">Войти</div>
        </a>
    </ul>
</nav>